#root {
  /* margin: 0 auto; */
  /* padding: 2rem; */
  text-align: center;
}

.container {
  height: 100vh;
  width: 100vw;
  display: grid;
  box-sizing: border-box;
  grid-template-columns: 80% 20%;
  position: relative;
}

.blankContainer {
  border: 1px solid green;
}

.dragButton {
  background-color: blue;
  color: white;
  border-radius: 4px;
}

.draggableItem {
  margin-bottom: 1rem;
  border-radius: 5px;
  cursor: 'grab';
  color: black;
  background-color: white;
  padding: 0.5rem 1rem;
  cursor: pointer;
  box-shadow: 0.3 0.5 0.6 black;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}

.rightPart {
  background-color: black;
  color: white;
  padding: 1rem;
}

.title {
  margin: 0;
}

.block {
  cursor: pointer;
  margin: 1rem 0;
  padding: 1rem;
  border: 1px solid white;
  border-radius: 5px;
}
